dataset_project/
dataset_set_up/

venv/

yolo11l-obb.pt
yolo26n.pt

run_setup.bat

SubmissionFinalCode/Task2/Inference/Task_2_Visualization/
SubmissionFinalCode/Task1/Inference/Task_1_OBB_Visualization/